{% extends "base.twig" %} 

{% block body %}


 <!-- page content -->
 <div class="right_col" role="main">
  
  <div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Selcciona una adituria</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="new-audit" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-plus"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="datatable" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Fecha </th>
              <th>acciones</th>
            </tr>
          </thead>


          <tbody>
            {% if audits.response == true %}
             {% for audit in audits.result%}
             <tr>
              <td>{{ audit.name }}</td>
              <td>{{ audit.date_create }}</td>
              <td>
               <button type="button" class="btn btn-default select_audit" data-id="{{ audit.id }}">Selecionar</button>
               <button type="button" class="btn btn-danger delete_audit" data-id="{{ audit.id }}">eliminar</button>
             </td>

           </tr>
         {% endfor %}
       {% endif %}

     </tbody>
   </table>
 </div>
</div>
</div>
</div>


</div>
<!-- /page content -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="add_new">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">New Audit</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Audit Name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="audit-name" required="required" class="form-control col-md-7 col-xs-12" type="text">
            </div>
          </div>        
        </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save-new-adit">Save changes</button>
        </div>

      </div>
    </div>
  </div>



{% endblock %}


{% block javascript %}
 {{ parent() }}
 <script src="{{ base_url() }}/js/dashboard.js"></script>

{% endblock %}